.signup-wrapper
  .single-header
    %h1.single-header__logo
      = link_to root_path do 
        %i.fas.fa-shopping-cart.fa.fa-spin
    %nav.progress-bar5
      %ol.clearfix
        %li.progress-bar5__active
          会員情報
          .progress-bar5__active__status
        %li.progress-bar5__active__phone-number
          電話番号認証
          .progress-bar5__active__status__phone-number
        %li.progress-bar5__active__address
          お届け先住所入力
          .progress-bar5__active__status__payment
        %li.progress-bar5__active__complete
          完了
          .progress-bar5__active__status__complete
  .signup-main5
    .signup-main5__head 会員登録完了
    .a-5
      ありがとうございます。
      %br/
      会員登録が完了しました。
      =link_to "フリマをはじめる", root_path, class: "next-btn5"
  = render 'signup/login_footer'