.logout-main{
  padding: 40px;
  width: 72%;
  margin: 0px auto 0 ;
  display: flex;
  align-items:flex-start;
  background-color:#f5f5f5;
  .logout-main-content{
    margin: 0px auto 0;
    display: flex;
    background-color: #f5f5f5;
    .logout-content{
      background-color: #ffffff;
      width: 700px;
      height: 179px;
      position: relative;
      .logout-btn{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #ea352d;
        height: 50px;
        width: 320px;
        margin: auto;
        text-align: center;
        a{
          line-height: 48px;
          font-size: 14px;
          color: #fff;
          
        }
      }
    }
  }
}
