// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "module/header";
@import 'module/listed-items';
@import "module/footer";
@import "module/listing-button";
@import 'module/listed-items';
@import url('https://fonts.googleapis.com/css?family=Sawarabi+Gothic'); 
.main{
  font-family: 'Sawarabi Gothic', sans-serif;
  width: 100vw;
  .advertise-box__upper{
    height: 400px;
    width: 100%;
    padding-top: 100px;
    
    background-image: url(https://girlydrop.com/wp-content/uploads/post/p118.jpg);
    background-repeat: no-repeat;
    background-size: 80vw 450px;
    background-position:center;
    .head{
      width: calc(100vw - 300px);
      font-size: 60px;
      padding-top: 30px;
      color: #eee;
      text-stroke: 1.5px  #222;;
      -webkit-text-stroke: 1.5px  #222;
      @include textbox-centerise();
    }
    .text{
      width: calc(100vw - 300px);
      font-size: 30px;
      padding-top: 50px;
      color: #eee;
      text-stroke: 1px #222;
      -webkit-text-stroke: 1px #222;
      @include textbox-centerise();
    }
  }
  .popular-categories{
    height: 85px;
    padding-bottom: 30px;
    padding-top: 30px;

    &__title{
     height: 39px; 
     font-size: 30px;
     text-align: center;
    }
    &__category-box{
      height: 40px;
      padding-top: 10px;
      list-style: none;
      @include flex-box();
      li{
        background-color:  #eee;
        padding: 2px 10px 2px 10px;
        margin-left: 10px;
        border-radius: 10px;
      }
    }
  }
  .new-items-box__category{
    width: calc(100vw - 100px);
    height: calc(100vh - 350px);
    @include box-centerise();
    .titles{
      height: 24px;
      margin-bottom: 16px;
      position: relative;
      &__title{
        font-size: 20px;
        position: absolute;
        left: 0;
      }
      &__more{
        font-size: 14px;
        position: absolute;
        right: 0;
      }
    }
  
  }
  .popular-brands{
    height: 85px;
    padding-top: 30px;
    padding-bottom: 30px;
    &__title{
     height: 39px; 
     text-align: center;
     font-size: 30px;
    }
    &__brand-box{
      height: 40px;
      padding-top: 10px;
      list-style: none;
      @include flex-box();
      li{
        background-color:  #eee;
        padding: 2px 10px 2px 10px; 
        margin-left: 10px;
        border-radius: 10px;
      }
    }
  }
  .new-items-box__brand{
    width: calc(100vw - 100px);
    height: calc(100vh - 350px);
    @include box-centerise();
    margin-bottom: 100px;
    .titles{
      height: 24px;
      margin-bottom: 16px;
      position: relative;
      &__title{
        font-size: 20px;
        position: absolute;
        left: 0;
      }
      &__more{
        font-size: 14px;
        position: absolute;
        right: 0;
      }
    }
  
  }
  .advertise-box__under{
    position: relative;
    height: 200px;
    background-image: url("IMG_1950.jpg");
    background-size: 100vw 200px;
    .head{
      font-size: 30px;
      width: calc(100vw - 300px);
      padding-top: 30px;
      @include textbox-centerise();
      color: #222;
    }
    .text{
      font-size: 20px;
      width: calc(100vw - 300px);
      padding-top: 30px;
      @include textbox-centerise();
      color: #222;
    }
    .link{
      width: calc(100vw - 300px);
      padding-top: 30px;
      @include flex-box();
      @include textbox-centerise();
      .fas fa-shopping-cart fa-2x fa-spin{
        color: white;
      }
    }
    .app-image{
      position: absolute;
      bottom: 100px;
      right: 50px;
      ul {
        display: flex;
        
        
        li {
          padding: 10px;
        }
        a:hover {
          opacity: 0.7;
        }
      }
    }
  }
}
