
@import "reset";
@import "font-awesome";
@import "font-awesome-sprockets";
@import "mypage/variable/variable";

.mypage-main-content{
  padding: 40px;
  width: 72%;
  margin: 0px auto 0 ;
  display: flex;
  align-items:flex-start;
  background-color:#f5f5f5;
}
.sold-item{
  width: 40px;
  height: 40px;
  border-top: 20px solid red;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid red;
  position: absolute;
  top: 16px;
  &--text{
    color: white;
    font-size: 10px;
    transform: rotate( -45deg );
    position: absolute;
    top:-15px;
    left: -23px;
  }
}
.a-right-content{
  width: 700px;
  #back-img{
    background-image: image-url("mypage/background_image.png");
    height:200px;
    margin-bottom: 0px;
  }
  &__block{
    width:100%;
    flex-direction:column;
    margin-bottom: 40px;
    font-size: 14px;
    &--user-icon{
      border-radius: 50%;
    }
    &__user-name{
      padding-top:8px;
    }
    &__user-about{
      padding-top: 8px;
    }
    p{
      display: inline-block;
    }
    span{
      margin-left:8px;
    }
    &__tabs{
      @include flex-row;
      height:74px;
      width: 100%;
      font-size: 16px;
      li{
      width: 50%;
      height: 100%;
        h4{
          @include full-size;
          position: relative;
          .mypage-center{
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left:0;
            color:$font-black;;
          }
      }
      }
    }
    &__object{
      width: 100%;
      li{
        position: relative;
      }
      &__link-box{
        background-color: white;
        align-items:center;
        padding:16px;
        @include flex-row;
        @include border-line;
        .fa-angle-right{
          @include arrow-right;
          align-self:center;
        }
        &__img{
          position: relative;
        }
        &__body{
          width: 560px;
          padding-left: 20px;
          &--time{
            @include flex-row;
          }
          &__detail{
            @include flex-row;
            height: 30px;
            &--count-box{
              margin: 8px 6px 0 0;
              @include flex-row;
            }
          }
        }
        &--string{
          width: 660px;
          height:50px;
        }
      }
    }
    &__title{
      width: 100%;
      height: 72px;
      padding: 0 16px;
    }
  }
}
//ユーザーアイコン・いいね/コメントアイコン調整
.user-icon {
  border-radius: 50px;
}
.like-count{
  padding-left:2px;
}
.comment-count{
  padding-left:2px;
}