.footer
  .wrapper
    .about
      .about__title
        %h2 About
      .about__detail
        会社概要(会社運営)
        %br
        採用情報
        %br
        プレスリリース
        %br
        公式ブログ
        %br
        ロゴ利用ガイドライン
        %br
    .help
      .help__title
        %h2 Help＆Guide
      .help__detail
        FreeMarketTeamCガイド
        %br
        らくらく便
        %br
        ゆうゆう便
        %br
        大型便
        %br
        車体取引ガイド
        %br
        安心・安全宣言
        %br
        偽ブランド品撲滅への取組
        %br
        TeamCBox
        %br
        スマホ出品・売却相場
    .privacy
      .privacy__title
        %h2 Privacy
      .privacy__detail
        .privacy__detail--left
          PrivacyPolicy
          %br
          利用規約
          %br
          安心スマホサポートに関する規約
          %br
          コンプライアンスポリシー
          %br
        .privacy__detail--right
          個人データの安全管理に係る基本方針
          %br
          特定商取引に関する表記
          %br
          資金決済法に基づく表示
          %br
          法令遵守と犯罪抑止のために
          %br
