a{
  color: white;
  .listing-button{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color:#0099e8;
    margin: 20px;
    padding: 10px;
    position: fixed;
    bottom: 4px;
    right: 4px;
    z-index: 2;
    .btn-icon{
      padding-top: 15px;
      font-size: 30px;
      @include textbox-centerise();
      .fas {
        color: #fff;
      }
      
    
    }
    p{
      font-size: 25px;
      color: #fff;
      text-align: center;
      padding: 7px;
      display: inline-block;
      padding-top: 3px;
      @include textbox-centerise();
    } 
  }
}
