
.breadcrumbs{
  height: 30px;
  width: 72%;
  margin: 0 auto;
  font-size: 15px;
  background-color: rosybrown;
  @include flex-box();
  .breadcrumbs--list{
    a {
      color: #333;
      text-decoration: none;
    }
  }
}