.header
  .wrapper
    .upper
      .upper__logo
        %p FreeMarketTeamC
        %i{ class: "fas fa-shopping-cart fa-lg fa-spin"}
      .upper__search-box-form
        %p 何かお探しですか？
    .under
      %ul{class: "left-menu"}
        %li{class: "left-menu__categoly"}
          %p カテゴリーから探す
          %i{class: "far fa-caret-square-down"}
        %li{class: "left-menu__brand"}
          %p ブランドから探す
          %i{class: "far fa-caret-square-down"}
      %ul{class: "right-menu"}
        %li{class: "right-menu__sign_up"}
          %p 新規会員登録
        %li{class: "right-menu__sigin_in"}
          %p ログイン