.header
  .header__wrapper
    .header__wrapper__upper
      .header__wrapper__upper__logo
        %p FreeMarketTeamC
        %i{ class: "fas fa-shopping-cart fa-lg fa-spin"}
      .header__wrapper__upper__search-box-form
        %p 何かお探しですか？
    .header__wrapper__under
      %ul{class: "header__wrapper__under__left-menu"}
        %li{class: "header__wrapper__under__left-menu__categoly"}
          カテゴリーから探す
          %i{class: "far fa-caret-square-down"}
        %li{class: "header__wrapper__under__left-menu__brand"}
          ブランドから探す
          %i{class: "far fa-caret-square-down"}
      %ul{class: "header__wrapper__under__right-menu"}
        %li{class: "header__wrapper__under__right-menu__sign_up"}
          %p 新規会員登録
        %li{class: "header__wrapper__under__right-menu__sigin_in"}
          %p ログイン
.main
  .main__advertise-box__upper
    advertise
  .main__popular-categories
    .main__popular-categories__title
      人気カテゴリー
    %ul{class: "main__popular-categories__category-box"}
      %li{class: "main__popular-categories__category-box__list1"}
        レディース
      %li{class: "main__popular-categories__category-box__list2"}
        メンズ
      %li{class: "main__popular-categories__category-box__list3"}
        家電・スマホ・カメラ
      %li{class: "main__popular-categories__category-box__list4"}
        おもちゃ・ホビー・グッズ
  .main__new-items-box--category
    .main__new-items-box--category__titles
      .main__new-items-box--category__titles__title
        新着アイテム
      .main__new-items-box--category__titles__more
        もっと見る
    .main__new-items-box--category__items
      .main__new-items-box--category__items__item
  .main__popular-brands
    .main__popular-brands__title
      人気ブランド
    %ul{class: "main__popular-brands__brand-box"}
      %li{class: "main__popular-brands__brand-box__list1"}
        レディース
      %li{class: "main__popular-brands__brand-box__list2"}
        メンズ
      %li{class: "main__popular-brands__brand-box__list3"}
        家電・スマホ・カメラ
      %li{class: "main__popular-brands__brand-box__list4"}
        おもちゃ・ホビー・グッズ
  .main__new-items-box--brand
    .main__new-items-box--brand__titles
      .main__new-items-box--brand__titles__title
        新着アイテム
      .main__new-items-box--brand__titles__more
        もっと見る
    .main__new-items-box--brand__items
      .main__new-items-box--brand__item
  .main__advertise-box__under
    advertise
.footer
  .footer__wrapper
    .footer__wrapper__upper
      .footer__wrapper__upper__about
        %h2 About
        .footer__wrapper__upper__about--detail
          会社概要(会社運営)<br>
          採用情報<br>
          プレスリリース<br>
          公式ブログ<br>
          ロゴ利用ガイドライン<br>
      .footer__wrapper__upper__help
        %h2 Help＆Guide
        .footer__wrapper__upper__help--detail
          FreeMarketTeamCガイド<br>
          らくらく便<br>
          ゆうゆう便<br>
          大型メルカリ便<br>
          車体取引ガイド<br>
          安心・安全宣言<br>
          偽ブランド品撲滅への取組<br>
          TeamCBox<br>
          スマホ出品・売却相場<br>
    .footer__wrapper__under
      .footer__wrapper__under__privacy
        %h2 Privacy
      .footer__wrapper__under__privacy__detail
        .footer__wrapper__under__privacy__detail__left
          PrivacyPolicy<br>
          利用規約<br>
          安心スマホサポートに関する規約<br>
          コンプライアンスポリシー<br>
        .footer__wrapper__under__privacy__detail__right
          個人データの安全管理に係る基本方針<br>
          特定商取引に関する表記<br>
          資金決済法に基づく表示<br>
          法令遵守と犯罪抑止のために<br>
    .footer__wrapper__logo