.header
  .wrapper
    .upper
      .upper__logo
        %p FreeMarketTeamC
        %i{ class: "fas fa-shopping-cart fa-lg fa-spin"}
      .upper__search-box-form
        %p 何かお探しですか？
    .under
      %ul{class: "left-menu"}
        %li{class: "left-menu__categoly"}
          カテゴリーから探す
          %i{class: "far fa-caret-square-down"}
        %li{class: "left-menu__brand"}
          ブランドから探す
          %i{class: "far fa-caret-square-down"}
      %ul{class: "right-menu"}
        %li{class: "right-menu__sign_up"}
          %p 新規会員登録
        %li{class: "right-menu__sigin_in"}
          %p ログイン
.main
  .advertise-box__upper
    .head
      スマホで簡単<br>
      フリマアプリ！！
    .text
      アプリならスマホカメラからすぐに出品できる<br>
      購入時も安心な置く時のスマホアプリです
  .popular-categories
    .popular-categories__title
      人気カテゴリー
    %ul{class: "popular-categories__category-box"}
      %li
        レディース
      %li
        メンズ
      %li
        家電・スマホ・カメラ
      %li
        おもちゃ・ホビー・グッズ
  .new-items-box__category
    .titles
      .titles__title
        新着アイテム
      .titles__more
        = link_to "もっと見る", root_path
    .items
      .items__item
  .popular-brands
    .popular-brands__title
      人気ブランド
    %ul{class: "popular-brands__brand-box"}
      %li
        レディース
      %li
        メンズ
      %li
        家電・スマホ・カメラ
      %li
        おもちゃ・ホビー・グッズ
  .new-items-box__brand
    .titles
      .titles__title
        新着アイテム
      .titles__more
        = link_to "もっと見る", root_path
    .items
      .items__item
  .advertise-box__under
    .head
      スマホで簡単フリマアプリ
    .text
      いますぐ無料ダウンロード！
    .link
      %i{ class: "fas fa-shopping-cart fa-2x fa-spin", style: "color: white;"}
.footer
  .wrapper
    .about
      .about__title
        %h2 About
      .about__detail
        会社概要(会社運営)<br>
        採用情報<br>
        プレスリリース<br>
        公式ブログ<br>
        ロゴ利用ガイドライン<br>
    .help
      .help__title
        %h2 Help＆Guide
      .help__detail
        FreeMarketTeamCガイド<br>
        らくらく便<br>
        ゆうゆう便<br>
        大型便<br>
        車体取引ガイド<br>
        安心・安全宣言<br>
        偽ブランド品撲滅への取組<br>
        TeamCBox<br>
        スマホ出品・売却相場<br>
    .privacy
      .privacy__title
        %h2 Privacy
      .privacy__detail
        .left
          PrivacyPolicy<br>
          利用規約<br>
          安心スマホサポートに関する規約<br>
          コンプライアンスポリシー<br>
        .right
          個人データの安全管理に係る基本方針<br>
          特定商取引に関する表記<br>
          資金決済法に基づく表示<br>
          法令遵守と犯罪抑止のために<br>
    .logo