.header
  .header__wrapper
    .header__wrapper__upper
      .header__wrapper__upper__logo
        %p
          %i{ class: "fas fa-shopping-cart fa-lg fa-spin"}
          MERCARI
      .header__wrapper__upper__search-box-form
        何かお探しですか？
    .header__wrapper__under
      %ul{class: "header__wrapper__under__top-menu"}
        %li{class: "header__wrapper__under__top-menu__categoly"}
          カテゴリーから探す
        %li{class: "header__wrapper__under__top-menu__brand"}
          ブランドから探す
        %li{class: "header__wrapper__under__top-menu__sign_up"}
          新規登録
        %li{class: "header__wrapper__under__top-menu__sigin_in"}
          ログイン
.main
  .main__advertise-box__upper
  .main__popular-categolies
    .main__popular-categolies__title
      人気カテゴリー
    %ul{class: "main__popular-categories__categories-box"}
      %li{class: "main__popular-categories__category-box__list1"}
        レディース
      %li{class: "main__popular-categories__category-box__list2"}
        メンズ
      %li{class: "main__popular-categories__category-box__list3"}
        家電・スマホ・カメラ
      %li{class: "main__popular-categories__category-box__list4"}
        おもちゃ・ホビー・グッズ
  .main__new-items-box--category
    .main__new-items-box--category__titles
      .main__new-items-box--category__title
        新着アイテム
      .main__new-items-box--category__more
        もっと見る
    .main__new-items-box--category__items
      .main__new-items-box--category__item
  .main__popular-brands
    .main__popular-brands__title
      人気ブランド
      %ul{class: ".main__popular-brands__brand-box"}
        %li{class: ".main__popular-brands__brand-box__list1"}
          レディース
        %li{class: ".main__popular-brands__brand-box__list2"}
          メンズ
        %li{class: ".main__popular-brands__brand-box__list3"}
          家電・スマホ・カメラ
        %li{class: ".main__popular-brands__brand-box__list4"}
          おもちゃ・ホビー・グッズ
  .main__new-items-box--brand
    .main__new-items-box--brand__titles
      .main__new-items-box--brand__title
        新着アイテム
      .main__new-items-box--brand__more
        もっと見る
    .main__new-items-box--brand__items
      .main__new-items-box--brand__item
  .main__advertise-box__under
.footer
  .footer__left-footer
    .footer__left-footer__about
      メルカリについて
    .footer__left-footer__privacy
      プライバシーと利用規約
    .footer__left-footer__nationality
      国
  .footer__right-footer
    .footer__right-footer__help
      ヘルプ&ガイド
  .footer__logo